/* all element styles */
:root {
    --main: white;
    --theme: rgb(87, 132, 87);
    --background: #dae6ce;
}

* {
    color: var(--main);
}

/* page background color */
body {
    background-color: var(--background);
}

/* header with brand logo and page navigation */
header {
    height: 50px;
    background-color: var(--background);
    font-family: Georgia, serif;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/* navigation bar item list */
nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

nav ul li a {
    color: var(--theme);
}

/* hero image */
.hero {
    height: 500px;
    width: 100%;
    margin-bottom: 50px;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    border-top: 15px solid var(--theme);
    border-bottom: 15px solid var(--theme);
}

/* primary content element */
main {
    width: 100%;
    display: inline-block;
    padding: 25px;
    font-family: Didot, serif;
}

.avatar {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 15px solid var(--theme);
    margin-top: -25px;
    margin-right: 40px;
    float: left;
}

#about {
    margin-bottom: 100px;
    margin-left: 125px;
    line-height: 1.75;
    padding: 40px;
    height: fit-content;
    background-color: var(--theme);
}

h1 {
    margin-bottom: 20px;
    font-size: 36px;
}

.projects {
    background-color: var(--theme);
    height: fit-content;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-project {
    display: block;
    width: 100%;
    text-align: center;
}

.main-project img {
    width: 75%;
    height: 400px;
    margin-top: 10px;
    border-radius: 3%;
}

.main-caption {
    background-color: var(--theme);
    text-align: left;
    font-size: 24px;
    width: 35%;
    height: fit-content;
    padding: 10px;
    position: relative;
    top: -75%;
    left: 12%;
}

.secondary-projects {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.secondary-projects img {
    width: 310px;
    height: 310px;
    margin: 5px;
    margin-bottom: -20px;
    border-radius: 10%;
}

.secondary-caption {
    background-color: var(--theme);
    text-align: left;
    font-size: 14px;
    line-height: 1.5;
    width: 60%;
    height: fit-content;
    padding: 7px;
    position: relative;
    top: -70%;
    left: 5px;
}

.main-project:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.15);
    z-index: 1;
}

.prework:hover, .mini1:hover, .challenge1:hover, .mini2:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.25);
    z-index: 1;
}

#resume {
    background-color: var(--theme);
    width: 100%;
    padding: 25px;
    margin-top: 50px;
    text-align: center;
}

#contact {
    background-color: var(--theme);
    width: fit-content;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

#contact ul li {
    line-height: 2.5;
}

/* footer element styles */
footer {
    width: 100%;
    background-color: var(--theme);
    font-size: 20px;
    line-height: 1.75;
    padding: 25px;
    text-align: center;
}

#top-button {
    display: none; 
    position: fixed; 
    bottom: 20px;
    right: 30px; 
    z-index: 99; 
    background-color: var(--main); 
    color: var(--theme);
    cursor: pointer;
    padding: 15px; 
    border-radius: 10px;
    border: none;
  }
  
  #top-button:hover {
    background-color: var(--theme);
    color: var(--main);
  }