/* defined variables */
:root {
    --main: white;
    --theme: rgb(87, 132, 87);
    --background: #dae6ce;
}

/* all element styles */
* {
    color: var(--main);
}

/* page background */
body {
    background-color: var(--background);
}

/* header with page navigation */
header {
    height: 50px;
    background-color: var(--background);
    font-family: Georgia, serif;
}

/* navigation bar */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    display: inline-flexbox;
}

nav a {
    padding: 20px;
    color: var(--theme);
}

/* hero image */
.hero {
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    border-top: 15px solid var(--theme);
    border-bottom: 15px solid var(--theme);
    display: flex;
}

/* primary content */
main {
    width: 100%;
    display: block;
    padding: 25px;
    font-family: Didot, serif;
}

/* circle avatar image for about section */
.avatar {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 15px solid var(--theme);
    margin-top: -25px;
    margin-right: 40px;
    float: left;
}

/* about section style */
#about {
    margin-bottom: 100px;
    margin-left: 125px;
    line-height: 1.75;
    padding: 40px;
    height: fit-content;
    background-color: var(--theme);
}

h1 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* portfolio section style */
#portfolio {
    background-color: var(--theme);
    height: fit-content;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* highlighted main project display */
.main-project {
    display: block;
    width: 100%;
    text-align: center;
}

.main-project img {
    max-width: 75%;
    width: auto;
    height: auto;
    margin-top: 10px;
    border-radius: 3%;
}

.main-caption {
    background-color: var(--theme);
    text-align: left;
    font-size: auto;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: 5px solid var(--background);
    border-left: none;
    position: relative;
    top: -50%;
    left: 12.5%;
}

/* secondary projects display */
.secondary-projects {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.secondary-projects img {
    max-width: 310px;
    max-height: 310px;
    margin: 5px;
    margin-bottom: -20px;
    border-radius: 10%;
}

.secondary-caption {
    background-color: var(--theme);
    text-align: left;
    font-size: auto;
    line-height: 1.5;
    width: 75%;
    height: fit-content;
    padding: 7px;
    border: 5px solid var(--background);
    border-left: none;
    position: relative;
    top: -50%;
    left: 5px;
}

/* hover transitions */
.main-project:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.15);
    z-index: 1;
}

.prework:hover, .mini1:hover, .challenge1:hover, .mini2:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.25);
    z-index: 1;
}

/* resume section */
#resume {
    background-color: var(--theme);
    width: 100%;
    padding: 25px;
    margin-top: 50px;
    text-align: center;
}

/* contact section */
#contact {
    background-color: var(--theme);
    width: fit-content;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

#contact ul li {
    line-height: 2.5;
    padding: 15px;
    display: inline-flex;
}

/* footer section */
footer {
    width: 100%;
    background-color: var(--theme);
    font-size: 20px;
    line-height: 1.75;
    padding: 25px;
    text-align: center;
}

/* scroll to top button style */
#top-button {
    display: none; 
    position: fixed; 
    bottom: 20px;
    right: 30px; 
    z-index: 99; 
    background-color: var(--main); 
    color: var(--theme);
    cursor: pointer;
    padding: 15px; 
    border-radius: 10px;
    border: none;
}
  
#top-button:hover {
    background-color: var(--theme);
    color: var(--main);
}

/* responsive screen layout */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        line-height: 3;
    }

    .hero {
        width: 100%;
        height: 200px;
    }

    .avatar {
        height: 200px;
        width: 200px;
        border: 5px solid var(--theme);
    }
    
    #about {
        margin-bottom: 100px;
        margin-left: -5px;
        padding: 40px;
        height: fit-content;
    }

    .main-caption {
        position: relative;
        top: -50%;
        left: 25%;
        width: 50%;
        font-size: auto;
        text-align: center;
        line-height: 1.5;
        border-left: 5px solid var(--background);
    }

    .secondary-caption {
        position: relative;
        top: -50%;
        margin: 0 auto;
        text-align: center;
        border-left: 5px solid var(--background);
    }
}