/* all element styles */
:root {
    --main: white;
    --theme: rgb(51, 98, 51);
    --theme2: rgb(76, 122, 76);
    --background: #dae6ce;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.75;
}

/* page background color */
body {
    background-color: var(--background);
}

/* header with brand logo and page navigation */
header {
    height: 50px;
    color: var(--main);
    background-color: var(--background);
    font-family: Georgia, serif;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/* navigation bar item list */
nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

a {
    color: var(--theme);
}

/* hero image */
.hero {
    height: 500px;
    width: 100%;
    margin-bottom: 50px;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    border-top: 15px solid var(--theme);
    border-bottom: 15px solid var(--theme);
}

/* primary content element */
main {
    width: 100%;
    display: inline-block;
    padding: 25px;
    font-family: Didot, serif;
}

.avatar {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 15px solid var(--theme);
    margin-top: -25px;
    margin-right: 40px;
    float: left;
}

#about {
    margin-bottom: 100px;
    margin-left: 125px;
    padding: 40px;
    height: fit-content;
    background-color: var(--theme);
    color: var(--main);
}

h1 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* all standard text on the page */
p {
    font-size: 16px;
}

.projects {
    color: var(--main);
    background-color: var(--theme);
    height: fit-content;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-project {
    display: block;
    width: 100%;
}

.main-project img {
    width: 100%;
    height: 500px;
    margin-top: 10px;
    border-radius: 3%;
}

.main-caption {
    color: var(--main);
    background-color: var(--theme);
    text-align: left;
    font-size: 24px;
    width: 30%;
    height: fit-content;
    padding: 5px;
    position: relative;
    top: -75%;
}

.secondary-projects {
    display: inline-flex;
    flex-wrap: wrap;
}

.secondary-projects img {
    width: 310px;
    height: 310px;
    margin: 5px;
    margin-bottom: -20px;
    border-radius: 10%;
}

.secondary-caption {
    color: var(--main);
    background-color: var(--theme);
    text-align: left;
    font-size: 14px;
    width: 50%;
    height: fit-content;
    padding: 5px;
    position: relative;
    top: -70%;
    left: 5px;
}


/* footer element styles */
footer {
    padding: 30px;
    font-size: 20px;
    text-align: center;
}